* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  max-height: 100vh;
  margin: 3rem;
  @media (max-width: 600px) {
    margin: 0;
  }
}
body {
  background-image: url(../img/bg4.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: sans-serif;
  z-index: -1;
}
html {
  font-size: 100%;
  @media (max-width: 600px) {
    font-size: 60%;
  }
}

a {
  text-decoration: none;
  font-family: sans-serif;
  display: inline-block;
  margin: 3rem 1rem;
  color: white;
}
//////////////////////////////////////
.button {
  font-size: 1rem;
  .btn-blue {
    // border: none;
    border-bottom: 5px solid rgba($color: #3964cf, $alpha: 1);
    transition: all 0.2s;
  }

  .btn-red {
    border: none;
    border-bottom: 5px solid rgba($color: #c01f7e, $alpha: 1);
    transition: all 0.2s;
  }

  .btn-blue:hover,
  .btn-red:hover {
    transform: translateY(-3px);
  }
  .btn-blue:active,
  .btn-red:active {
    transform: translateY(-1px);
  }
}
