* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  max-height: 100vh;
  margin: 3rem;
}

@media (max-width: 600px) {
  section {
    margin: 0;
  }
}

body {
  background-image: url(../img/bg4.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: sans-serif;
  z-index: -1;
}

html {
  font-size: 100%;
}

@media (max-width: 600px) {
  html {
    font-size: 60%;
  }
}

a {
  text-decoration: none;
  font-family: sans-serif;
  display: inline-block;
  margin: 3rem 1rem;
  color: white;
}

.button {
  font-size: 1rem;
}

.button .btn-blue {
  border-bottom: 5px solid #3964cf;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.button .btn-red {
  border: none;
  border-bottom: 5px solid #c01f7e;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.button .btn-blue:hover,
.button .btn-red:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.button .btn-blue:active,
.button .btn-red:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

@-webkit-keyframes h1-animation {
  0% {
    background-position: 0%;
  }
  60% {
    background-position: -130%;
  }
  100% {
    background-position: 0%;
  }
}

@keyframes h1-animation {
  0% {
    background-position: 0%;
  }
  60% {
    background-position: -130%;
  }
  100% {
    background-position: 0%;
  }
}

.section1 {
  margin: 8rem 15rem;
}

@media (max-width: 1150px) {
  .section1 {
    margin: 5rem;
  }
}

@media (max-width: 800px) {
  .section1 {
    margin: 5rem 0;
  }
}

.section1-text {
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  font-size: 3rem;
  color: #fff;
  padding: 3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-shadow: 0 2px 15px;
          box-shadow: 0 2px 15px;
  min-width: 722px;
}

@media (max-width: 1150px) {
  .section1-text {
    padding: 1rem;
  }
}

@media (max-width: 600px) {
  .section1-text {
    min-width: 400px;
  }
}

.section1-text h2 {
  margin-bottom: 2.5rem;
}

.section1-text h3 {
  font-size: 2rem;
  color: white;
  background-color: #c01f7e;
  margin-bottom: 2.5rem;
  display: inline-block;
  padding: 5px 10px;
}

.section1-text p {
  font-size: 1.3rem;
}

@keyframes h1-animation {
  0% {
    background-position: 0%;
  }
  60% {
    background-position: -130%;
  }
  100% {
    background-position: 0%;
  }
}

.section2 {
  text-align: center;
}

.section2-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100vh;
  width: 100%;
}

@media (max-width: 1400px) {
  .section2-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section2-text .h {
  width: 40%;
  min-width: 366px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 30px;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  font-size: 3rem;
  text-align: center;
  color: white;
}

@media (max-width: 1400px) {
  .section2-text .h {
    margin: 2rem auto;
  }
}

@media (max-width: 800px) {
  .section2-text .h {
    width: 100%;
    height: 100%;
  }
}

.section2-text .h h1 {
  margin-top: 2rem;
}

.section2-text .h .tool-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section2-text .h .tool-icon .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.section2-text .h .img-box {
  width: 4rem;
  height: 4rem;
}

.section2-text .e {
  width: 40%;
  min-width: 366px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  font-size: 3rem;
  text-align: center;
  color: white;
}

@media (max-width: 1400px) {
  .section2-text .e {
    margin: 0 auto;
  }
}

@media (max-width: 800px) {
  .section2-text .e {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    height: 100%;
  }
}

.section2-text .e h1 {
  margin-top: 2rem;
}

.section2-text .e p {
  margin-top: 2rem;
  margin-left: 1rem;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.61);
  text-align: left;
  line-height: 1.5;
}

.section3 {
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2rem;
}

.section4 {
  padding-top: 4rem;
}

@media (max-width: 500px) {
  .section4 {
    padding: 1rem;
  }
}

.section4 .profile {
  height: 40rem;
  width: 30rem;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  margin: 0 auto;
  text-align: center;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.section4 .profile .img-box {
  margin: 5rem auto;
  margin-bottom: 2rem;
  height: 5rem;
  width: 5rem;
  background-image: url(../img/p1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  -webkit-box-shadow: 0 6px 12px #3964cf;
          box-shadow: 0 6px 12px #3964cf;
}

.section4 .profile .social-icon {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2rem;
}

.section4 .profile .social-icon .icon {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.section4 .profile .social-icon .icon :hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.section4 .profile .social-icon img {
  margin: 5px;
}

.section4 .profile .heading h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #c01f7e;
}

.section4 .profile .heading p {
  font-size: 1rem;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */