* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  /* background-color: black; */
  color: white;
  background-color: black;
  max-width: 1920px;
  margin: auto;
  text-align: center;
}

/* nav bar */
nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto 0 auto;
  background-color: rgba(255, 255, 255, 0.336);
  border-radius: 3rem;
  padding: 0 1rem;
  position: relative;
  top: 1rem;
  z-index: 5;
}
.nav-links {
  padding: 1rem;
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-weight: 600;
  margin-right: 1rem;
  border-bottom: 4px solid skyblue;
}

.text {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.text h1 {
  font-family: "Sacramento", cursive;
  /* color: aquamarine; */
  font-size: 10rem;
}
.text h3 {
  font-size: 3rem;
  font-family: "Dongle", sans-serif;
  font-weight: 400;
}
.sub-heading {
  overflow: hidden;
}

.circle {
  position: absolute;
  width: 30rem;
  height: 30rem;
  background-image: url(./img/p1.jpg);
  background-position: center;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
}

.section-1 {
  min-height: 100vh;
  width: 100%;
  background-image: url(./img/p1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.buttons {
  margin-top: 4rem;
}

.buttons a {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 700;
  color: white;
  border: 1px solid white;
  padding: 1rem 2rem;
  display: inline-block;
  transition: all 0.3s;
}
.link:hover {
  background-color: rgba(255, 255, 255, 0.479);
}

/* shadow div */
.shadow {
  width: 100%;
  height: 10rem;
  /* background-color: red; */
  background-image: linear-gradient(to top, black, rgba(255, 255, 255, 0));
  position: absolute;
  bottom: 0;
  left: 0;
}
.shadow-top {
  width: 100%;
  height: 10rem;
  /* background-color: red; */
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), black);
  position: absolute;
  top: 0;
  left: 0;
}
.heading {
  position: relative;
  overflow: hidden;
}
/* .heading-revel {
  background-color: white;
  height: 100%;
  width: 110%;
  top: 0;
  left: -2%;
  animation-name: move;
  animation-duration: 2s;

  position: absolute;
} */

/* about section */

.about {
  margin: 5rem 0;
  /* min-height: 70vh; */
  font-family: "Dongle", sans-serif;
}
.about h1 {
  font-size: 3rem;
}
.about-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  margin: 5rem auto;
}
.about-img {
  /* width: 20rem;
  height: 20rem;
  object-position: center;
  background-image: url(./img/p2.jpg); */
}
.about-text {
  font-size: 2rem;
  line-height: 1.4;

  width: 60%;

  /* line-height: 1.4; */
  font-weight: 500;
}
.color-1 {
  color: aqua;
}
.color-2 {
  color: blueviolet;
}
.color-3 {
  color: tomato;
}

/* project section */
.projects {
  margin: 15rem 0;
}

.projects h1 {
  margin: 3rem 0;
}
.grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;

  justify-items: center;

  width: 70%;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  body {
    font-size: 80%;
  }
  .grid-box {
    grid-template-columns: 1fr 1fr;
  }
  .nav {
    width: 100%;
  }
  .text h1 {
    font-size: 6rem;
  }
  .about-box {
    width: 90%;
  }
  .about-text {
    width: 80%;
  }
  .circle {
    width: 25rem;
    height: 25rem;
  }
}

@media (max-width: 800px) {
  body {
    font-size: 60%;
  }
  .grid-box {
    grid-template-columns: 1fr;
  }
  .about-box {
    width: 95%;
  }
  .about-text {
    width: 100%;
  }
  .circle {
    width: 20rem;
    height: 20rem;
  }
}
/* ////////////////////////////////////// */

.project-box {
  background-color: rgba(255, 255, 255, 0.808);
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 15%);
  color: gray;
  height: 25rem;
  width: 19rem;
  transition: all 1s;
  position: relative;
}
.project-box:hover {
  transform: translateY(-7px);
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.438);
  cursor: pointer;
}
.icon-box {
  height: 50%;
  font-size: 4rem;
  background-image: linear-gradient(to right, brown, blue);
}
.p-desc {
  padding: 10px 10px;
}
i {
  margin: 2rem 0;
}

.project-links {
  margin-top: 1rem;
}
.git {
  background-color: brown;
}
.live {
  background-color: blue;
}
/* /////////////////////////////////////////////// */

.social-links {
  display: flex;
  font-size: 2rem;
  justify-content: space-evenly;
  margin: auto;
  width: 40%;
  margin-bottom: 5rem;
}

.social-links a {
  text-decoration: none;
}
